<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunbic</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="nav">
        <a href="#" class="nav__logo"><span>Sunbic</span></a>
        <nav>
            <ul class="nav__links">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./courses.html">Courses</a></li>
            </ul>
        </nav>
        <a href="#" class="nav_signup"><button>Sign Up</button></a>
    </div>

    <div class="space"></div>

    
</body>
</html>