<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunbic</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="nav">
        <a href="#" class="nav__logo"><span>Sunbic</span></a>
        <nav>
            <ul class="nav__links">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./courses.html">Courses</a></li>
            </ul>
        </nav>
        <a href="#" class="nav_signup"><button>Sign Up</button></a>
    </div>

    <div class="space"></div>

    <div class="section">
        <div class="section-header">
            <p class="section-header__title">Courses</p>
            <div class="section-header__line"></div>
        </div>
        <div class="section__content">
            <div class="card">
                <div class="card__content">
                    <p class="card__title">Scientific Computing</p>
                    <p class="card__desc">The perfect course to get started if you're interested in AI and such.</p>
                </div>
                <button class="card__button">
                    Purchase
                </button>
            </div>
            <div class="card">
                <div class="card__content">
                    <p class="card__title">Computer Vision</p>
                    <p class="card__desc">This course offers youd deep understanding of computer vision.</p>
                </div>
                <button class="card__button">
                    Purchase
                </button>
            </div>
            <div class="card">
                <div class="card__content">
                    <p class="card__title">Computer Graphics</p>
                    <p class="card__desc">All about taking your website into the 3D plane.</p>
                </div>
                <button class="card__button">
                    Purchase
                </button>
            </div>
            <div class="card">
                <div class="card__content">
                    <p class="card__title">Android</p>
                    <p class="card__desc">Coming in an android noob, going out making apps.</p>
                </div>
                <button class="card__button">
                    Purchase
                </button>
            </div>
            <div class="card">
                <div class="card__content">
                    <p class="card__title">Game</p>
                    <p class="card__desc">Learn to make games and start making your own in a month</p>
                </div>
                <button class="card__button">
                    Purchase
                </button>
            </div>
            <div class="card">
                <div class="card__content">
                    <p class="card__title">Database</p>
                    <p class="card__desc">All about data management and maintenance</p>
                </div>
                <button class="card__button">
                    Purchase
                </button>
            </div>
        </div>
    </div>
    
</body>
</html>