<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunbic</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="nav">
        <a href="#" class="nav__logo"><span>Sunbic</span></a>
        <nav>
            <ul class="nav__links">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./courses.html">Courses</a></li>
            </ul>
        </nav>
        <a href="#" class="nav_signup"><button>Sign Up</button></a>
    </div>

    <div class="space"></div>

    <section class="hero">
        <div class="hero__container">
            <div class="hero__container__info">
                <h1>Sunbic University</h1>
                <p>Sunbic University is an online university where you can purchase and study online courses provided by proffesionals</p>
            </div>
        </div>
    </section>

    <div class="space"></div>

    <div class="content">
        <div class="content__container">
            <div class="content__img--container">
                <div class="content__img--card"></div>
            </div>
            <div class="content__content">
                <h1>What do we do?</h1>
                <h2>We made learning easier</h2>
                <p>Join us today and improve three times faster</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__content">
            <h3>Join Sunbic now!</h3>
            <p>We have produced alot of successful people
                throughout around the world, as the result of
                responsive and adaptive online courses.
                Come and join us now!
            </p>
            <ul class="footer__links">
                <li><a href="#"><img src="../assets/instagram.svg" alt="instagram"></a></li>
                <li><a href="#"><img src="../assets/linkedin.svg" alt="linkedin"></a></li>
                <li><a href="#"><img src="../assets/github.svg" alt="github"></a></li>
            </ul>
            <div class="footer__bottom">
                <p>Please checkout our lovely developer by clicking the icons above!</p>
            </div>
        </div>
    </footer>
</body>
</html>