@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #023047;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8% 10%;
    box-shadow: #8ECAE6 0px 0px 0px 3px;
    z-index: 99;
}

.nav__logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #8ECAE6;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #219EBC;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #1e8ba7;
}

.space {
    margin: 2%;
}

.hero {
    font-family: "Montserrat", sans-serif;
    height: 50vh;
    width: 80%;
    margin: auto;
    border-radius: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.342)),
      url("../assets/book_drawer.jpg")
        no-repeat center bottom / cover;
    color: whitesmoke;
    /* box-shadow: #fb8600d8 5px 5px, #e97c00a2 10px 10px, #cf6e0080 15px 15px, #c96b0056 20px 20px, #b35f0033 25px 25px; */
    box-shadow: rgba(251, 133, 0, 0.4) 5px 5px, rgba(251, 133, 0, 0.3) 10px 10px, rgba(251, 133, 0, 0.2) 15px 15px, rgba(251, 133, 0, 0.1) 20px 20px, rgba(251, 133, 0, 0.05) 25px 25px;
}

.hero__container {
    background-color: transparent;
}

.hero__container__info {
    background-color: transparent;
}

.hero__container__info h1 {
    background-color: transparent;
}

.hero__container__info p {
    background-color: transparent;
}

.hero__container {
    width: 100%;
    height: 100%;
    margin: 0 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.hero .hero__container__info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero .hero__container__info p {
    font-size: 1.2rem;
    max-width: 50%;
}

.content {
    /* background-color: #131313; */
    padding: 10rem 0;
    width: 80%;
    margin: 0 auto;
}

.content__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.content__content {
    color: #fff;
    width: 100%;
    font-family: "Montserrat";
}

.content__content h1 {
    font-size: 2rem;
    color: #FFB703;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.content__content h2 {
    font-size: 4rem;
    color: #FB8500;
}

.content__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-style: 700;
    color: #219EBC;
}

.content__img--container {
    text-align: center;
}

.content__img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../assets/laptop.jpg") no-repeat center bottom / cover;
}