@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8% 10%;
    box-shadow: #8ECAE6 0px 0px 0px 3px;
    z-index: 99;
}

.nav__logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #8ECAE6;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #219EBC;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #1e8ba7;
}

.space {
    margin: 0.4%;
}

.hero {
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.342)),
      url("../assets/book_drawer.jpg")
        no-repeat center bottom / cover;
    color: whitesmoke;
}

.hero__container {
    background-color: transparent;
}

.hero__container__info {
    background-color: transparent;
}

.hero__container__info h1 {
    background-color: transparent;
}

.hero__container__info p {
    background-color: transparent;
}

.hero__container {
    width: 100%;
    height: 100%;
    margin: 0 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.hero .hero__container__info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero .hero__container__info p {
    font-size: 1.2rem;
    max-width: 50%;
}